<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562796168924-pau1av0m5cokfq7n7i2hti0mc117hd1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562796168924-pau1av0m5cokfq7n7i2hti0mc117hd1e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>562796168924-so77a2f5tfosshgjeoahmcpi8fhb37tv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9vmS0wXKcm0zwIcfI5y4gkE79gmwLtwI</string>
	<key>GCM_SENDER_ID</key>
	<string>562796168924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medschoolcoach</string>
	<key>PROJECT_ID</key>
	<string>medschoolcoach-e5593</string>
	<key>STORAGE_BUCKET</key>
	<string>medschoolcoach-e5593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562796168924:ios:cedb26a12da528b4599619</string>
	<key>DATABASE_URL</key>
	<string>https://medschoolcoach-e5593.firebaseio.com</string>
</dict>
</plist>